# Ignore node dependencies
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build or temp files
/dist
/build
/tmp

# Ignore all JSON files except package.json
*.json
!package.json
